.reveal h1 {
  font-size: 1.3em;
}

.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-size: 1em;
}

.reveal section img {
	border: 0;
	max-height: 600px;
}

.reveal section img.portrait {
}

.reveal section img.right {
	border: 0;
	float: right;
	height: 400px;
	vertical-align: top;
	width: 400px;
}

.reveal section blockquote {
	font-size: .7em;
	background: none;
}

.reveal .progress,
.reveal .controls {
	color: #666;
}
